# Real-world Data Wrangling

In this project, you will apply the skills you acquired in the course to gather and wrangle real-world data with two datasets of your choice.

You will retrieve and extract the data, assess the data programmatically and visually, accross elements of data quality and structure, and implement a cleaning strategy for the data. You will then store the updated data into your selected database/data store, combine the data, and answer a research question with the datasets.

Throughout the process, you are expected to:

1. Explain your decisions towards methods used for gathering, assessing, cleaning, storing, and answering the research question
2. Write code comments so your code is more readable

Before you start, install the some of the required packages.

In [1]:
!python -m pip install kaggle==1.6.12

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kaggle==1.6.12 in /home/student/.local/lib/python3.10/site-packages (1.6.12)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.10/site-packages (from kaggle==1.6.12) (4.65.0)
Requirement already satisfied: certifi>=2023.7.22 in /home/student/.local/lib/python3.10/site-packages (from kaggle==1.6.12) (2024.7.4)
Requirement already satisfied: bleach in /opt/conda/lib/python3.10/site-packages (from kaggle==1.6.12) (6.1.0)
Requirement already satisfied: python-slugify in /home/student/.local/lib/python3.10/site-packages (from kaggle==1.6.12) (8.0.4)
Requirement already satisfied: urllib3 in /opt/conda/lib/python3.10/site-packages (from kaggle==1.6.12) (1.26.15)
Requirement already satisfied: six>=1.10 in /opt/conda/lib/python3.10/site-packages (from kaggle==1.6.12) (1.16.0)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.10/site-packages (from kaggle==1.6.12) (2.9.0.post0)
Requirement already satisfied: requests in /opt/conda/lib/python3.10/site-packages (from kaggle==1.6.12) (2.29.0)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.10/site-packages (from bleach->kaggle==1.6.12) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /home/student/.local/lib/python3.10/site-packages (from python-slugify->kaggle==1.6.12) (1.3)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests->kaggle==1.6.12) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests->kaggle==1.6.12) (2.0.4)

In [2]:
!pip install --target=/workspace ucimlrepo

Collecting ucimlrepo
  Using cached ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Collecting pandas>=1.0.0
  Using cached pandas-2.2.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
Collecting certifi>=2020.12.5
  Using cached certifi-2024.7.4-py3-none-any.whl (162 kB)
Collecting python-dateutil>=2.8.2
  Using cached python_dateutil-2.9.0.post0-py2.py3-none-any.whl (229 kB)
Collecting numpy>=1.22.4
  Using cached numpy-2.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.3 MB)
Collecting pytz>=2020.1
  Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Collecting tzdata>=2022.7
  Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Collecting six>=1.5
  Using cached six-1.16.0-py2.py3-none-any.whl (11 kB)
Installing collected packages: pytz, tzdata, six, numpy, certifi, python-dateutil, pandas, ucimlrepo
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
scipy 1.11.2 requires numpy<1.28.0,>=1.21.6, but you have numpy 2.1.0 which is incompatible.
Successfully installed certifi-2024.7.4 numpy-2.1.0 pandas-2.2.2 python-dateutil-2.9.0.post0 pytz-2024.1 six-1.16.0 tzdata-2024.1 ucimlrepo-0.0.7
WARNING: Target directory /workspace/pytz-2024.1.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /workspace/pandas already exists. Specify --upgrade to force replacement.
WARNING: Target directory /workspace/tzdata-2024.1.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /workspace/ucimlrepo already exists. Specify --upgrade to force replacement.
WARNING: Target directory /workspace/numpy already exists. Specify --upgrade to force replacement.
WARNING: Target directory /workspace/pytz already exists. Specify --upgrade to force replacement.
WARNING: Target directory /workspace/numpy-2.1.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /workspace/pandas-2.2.2.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /workspace/__pycache__ already exists. Specify --upgrade to force replacement.
WARNING: Target directory /workspace/python_dateutil-2.9.0.post0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /workspace/ucimlrepo-0.0.7.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /workspace/six.py already exists. Specify --upgrade to force replacement.
WARNING: Target directory /workspace/certifi-2024.7.4.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /workspace/numpy.libs already exists. Specify --upgrade to force replacement.
WARNING: Target directory /workspace/certifi already exists. Specify --upgrade to force replacement.
WARNING: Target directory /workspace/six-1.16.0.dist-info already exists. Specify --upgrade to force replacement.
WARNING: Target directory /workspace/dateutil already exists. Specify --upgrade to force replacement.
WARNING: Target directory /workspace/tzdata already exists. Specify --upgrade to force replacement.
WARNING: Target directory /workspace/bin already exists. Specify --upgrade to force replacement.

**Note:** Restart the kernel to use updated package(s).

## 1. Gather data

In this section, you will extract data using two different data gathering methods and combine the data. Use at least two different types of data-gathering methods.

### **1.1.** Problem Statement
In 2-4 sentences, explain the kind of problem you want to look at and the datasets you will be wrangling for this project.

I want to combine the adult and suicide datasets so I can see in more detail whether we can find interesting insights. The particular insight I'm curious about is whether there are different projected suicide rates by career. You often hear that lawyers and accountants have it tough from a mental health perspective. I want to gain a better insight into this.

Finding the right datasets can be time-consuming. Here we provide you with a list of websites to start with. But we encourage you to explore more websites and find the data that interests you.

* Google Dataset Search https://datasetsearch.research.google.com/
* The U.S. Governmentâ€™s open data https://data.gov/
* UCI Machine Learning Repository https://archive.ics.uci.edu/ml/index.php

### **1.2.** Gather at least two datasets using two different data gathering methods

List of data gathering methods:

- Download data manually
- Programmatically downloading files
- Gather data by accessing APIs
- Gather and extract data from HTML files using BeautifulSoup
- Extract data from a SQL database

Each dataset must have at least two variables, and have greater than 500 data samples within each dataset.

For each dataset, briefly describe why you picked the dataset and the gathering method (2-3 full sentences), including the names and significance of the variables in the dataset. Show your work (e.g., if using an API to download the data, please include a snippet of your code). 

Load the dataset programmtically into this notebook.

#### *UCI Adult*

Type: Download Data Manually

Method: We downloaded a CSV file and names, and used pandas to load it into a dataframe.

Dataset variables:
age, workclass, fnlwgt, education, education-num, marital-status, occupation,relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income

In [3]:
#FILL IN 1st data gathering and loading method

import pandas as pd

# URLs of the dataset files
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
names_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names'

# Column names (you can find these in the adult.names file or the dataset description)
column_names = [
    'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 
    'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 
    'hours-per-week', 'native-country', 'income'
]

# Load the dataset into a pandas dataframe
df1 = pd.read_csv(data_url, names=column_names, sep=',\s', engine='python')

# Display the first few rows of the dataframe
print(df1.head())
print(df1.columns)

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country income
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K
Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

#### Dataset 2

Type: *Requests Method programmatic

Method: Requests Method

Dataset variables:

*INDICATOR', 'UNIT', 'UNIT_NUM', 'STUB_NAME', 'STUB_NAME_NUM',
       'STUB_LABEL', 'STUB_LABEL_NUM', 'YEAR', 'YEAR_NUM', 'AGE', 'AGE_NUM',
       'ESTIMATE', 'FLAG

In [4]:
#FILL IN REQUESTS Method
import pandas as pd
import requests

url = 'https://data.cdc.gov/resource/9j2v-jamp.json?$limit=50000'

# Send a GET request to the URL
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Parse the JSON data directly into a pandas DataFrame
    df2 = pd.read_json(url)
    print('Dataset successfully loaded into a DataFrame.')
else:
    print(f'Failed to retrieve the dataset. Status code: {response.status_code}')

df2.columns = df2.columns.str.upper()

# Display the first few rows of the second dataframe
print(df2.head())

print(df2.columns)

Dataset successfully loaded into a DataFrame.
                 INDICATOR                                               UNIT  \
0  Death rates for suicide  Deaths per 100,000 resident population, age-ad...
1  Death rates for suicide  Deaths per 100,000 resident population, age-ad...
2  Death rates for suicide  Deaths per 100,000 resident population, age-ad...
3  Death rates for suicide  Deaths per 100,000 resident population, age-ad...
4  Death rates for suicide  Deaths per 100,000 resident population, age-ad...

   UNIT_NUM STUB_NAME  STUB_NAME_NUM   STUB_LABEL  STUB_LABEL_NUM  YEAR  \
0         1     Total              0  All persons             0.0  1950
1         1     Total              0  All persons             0.0  1960
2         1     Total              0  All persons             0.0  1970
3         1     Total              0  All persons             0.0  1980
4         1     Total              0  All persons             0.0  1981

   YEAR_NUM       AGE  AGE_NUM  ESTIMATE FLAG
0         1  All ages      0.0      13.2  NaN
1         2  All ages      0.0      12.5  NaN
2         3  All ages      0.0      13.1  NaN
3         4  All ages      0.0      12.2  NaN
4         5  All ages      0.0      12.3  NaN
Index(['INDICATOR', 'UNIT', 'UNIT_NUM', 'STUB_NAME', 'STUB_NAME_NUM',
       'STUB_LABEL', 'STUB_LABEL_NUM', 'YEAR', 'YEAR_NUM', 'AGE', 'AGE_NUM',
       'ESTIMATE', 'FLAG'],
      dtype='object')

Optional data storing step: You may save your raw dataset files to the local data store before moving to the next step.

In [5]:
#Optional: store the raw data in your local data store

df1.to_csv('nonclean1.csv', index=False)
df2.to_csv('nonclean2.csv', index=False)

## 2. Assess data - I did a lot to clean up this data. I'm going to break it down into what I did, the issue, and whether it was tidiness or cleanness related in each step. 

Assess the data according to data quality and tidiness metrics using the report below.

List **two** data quality issues and **two** tidiness issues. Assess each data issue visually **and** programmatically, then briefly describe the issue you find.  **Make sure you include justifications for the methods you use for the assessment.**

### Quality Issues: Suicide Dataset Cleanup

In [6]:
# Visual viewing
print(df2.head())

# I also went into Excel and looked at the data and saw a bunch of things I didn't like

# Programmatic 
print(df2.columns)
print(df2.describe())


# Observations: This data looks terrible and is really hard to use in this form. 

# Here are some of the problems with it. 

# For DF2

# Data Quality Issue 1: Not enough data for some columns I'm trying to match on. Solution: Drop rows that don't have the data I'm looking for

# Data Quality Issue 2: Several of the entries lack the Estimate column, I want to only look at entries with values.

# Tidiness Issue 1: In it's current form the data I want to access is comma delimited when it should be its own separate columns to be easier to sort

# Tidiness Issue 2: Too many other columns are in the way, and entries which will not be available to merge (non-1994 data)

                 INDICATOR                                               UNIT  \
0  Death rates for suicide  Deaths per 100,000 resident population, age-ad...
1  Death rates for suicide  Deaths per 100,000 resident population, age-ad...
2  Death rates for suicide  Deaths per 100,000 resident population, age-ad...
3  Death rates for suicide  Deaths per 100,000 resident population, age-ad...
4  Death rates for suicide  Deaths per 100,000 resident population, age-ad...

   UNIT_NUM STUB_NAME  STUB_NAME_NUM   STUB_LABEL  STUB_LABEL_NUM  YEAR  \
0         1     Total              0  All persons             0.0  1950
1         1     Total              0  All persons             0.0  1960
2         1     Total              0  All persons             0.0  1970
3         1     Total              0  All persons             0.0  1980
4         1     Total              0  All persons             0.0  1981

   YEAR_NUM       AGE  AGE_NUM  ESTIMATE FLAG
0         1  All ages      0.0      13.2  NaN
1         2  All ages      0.0      12.5  NaN
2         3  All ages      0.0      13.1  NaN
3         4  All ages      0.0      12.2  NaN
4         5  All ages      0.0      12.3  NaN
Index(['INDICATOR', 'UNIT', 'UNIT_NUM', 'STUB_NAME', 'STUB_NAME_NUM',
       'STUB_LABEL', 'STUB_LABEL_NUM', 'YEAR', 'YEAR_NUM', 'AGE', 'AGE_NUM',
       'ESTIMATE', 'FLAG'],
      dtype='object')
          UNIT_NUM  STUB_NAME_NUM  STUB_LABEL_NUM         YEAR     YEAR_NUM  \
count  6390.000000    6390.000000     6390.000000  6390.000000  6390.000000
mean      1.872926       4.621909        4.686775  1997.525822    22.692019
std       0.333081       2.031777        1.829624    14.937451    12.286033
min       1.000000       0.000000        0.000000  1950.000000     1.000000
25%       2.000000       3.000000        3.230000  1988.000000    12.000000
50%       2.000000       5.000000        5.125100  1999.000000    23.000000
75%       2.000000       6.000000        6.153000  2009.000000    33.000000
max       2.000000      11.000000        7.235000  2018.000000    42.000000

           AGE_NUM     ESTIMATE
count  6390.000000  5484.000000
mean      2.712207    13.709810
std       1.932280    11.531805
min       0.000000     0.300000
25%       0.000000     5.000000
50%       3.000000    10.500000
75%       4.100000    19.500000
max       6.000000    74.800000

In [7]:
# First, I'd like to only look at data that I can cross-apply to the adult data set. 
# I also wanted to look at only STUB_LABELS that had 3 columns so that I could more generally match to adult data set.

# Data Quality Issue 1: Not enough data for some columns I'm trying to match on. Solution: Drop rows that don't have the data I'm looking for
# Step 1: Cleaning - Filter down to appropriate year and STUB_LABEL containing exactly three colons

# Step 1: Cleaning - Filter down to appropriate year and STUB_LABEL containing exactly three colons
df2adj = df2[(df2['YEAR'] == 1994) & (df2['STUB_LABEL'].str.count(':') == 3)]


# Step 2: Tidying - Split 'STUB_LABEL' into 'GENDER', 'ETHNICITY', 'RACE', and 'AGE_RANGE'
split_columns = df2adj['STUB_LABEL'].str.split(':', expand=True)


# Ensure that there are exactly four columns after the split before assigning
if split_columns.shape[1] == 4:
    df2adj[['GENDER', 'ETHNICITY', 'RACE', 'AGE_RANGE']] = split_columns
else:
    print(f"Warning: The split did not result in exactly 4 columns. Found {split_columns.shape[1]} columns.")

# Step 3: Tidying - Keep only the columns 'GENDER', 'RACE', 'AGE_RANGE', and 'ESTIMATE'
df2adj = df2adj[['GENDER', 'RACE', 'AGE_RANGE', 'ESTIMATE']]

# Step 4: Cleaning - Drop rows with NaN values in the 'ESTIMATE' column
df2adj = df2adj.dropna(subset=['ESTIMATE'])

# Display the resulting DataFrame
print(df2adj)

      GENDER        RACE           AGE_RANGE  ESTIMATE
5304    Male       White         15-24 years      24.6
5345    Male       White         25-44 years      26.7
5387    Male       White         45-64 years      24.2
5429    Male       White   65 years and over      39.5
5639    Male   All races         15-24 years      16.8
5681    Male   All races         25-44 years      16.0
5723    Male   All races         45-64 years      13.6
5765    Male   All races   65 years and over      18.6
5807  Female       White         15-24 years       3.9
5849  Female       White         25-44 years       6.8
5891  Female       White         45-64 years       7.3
5933  Female       White   65 years and over       5.9
6143  Female   All races         15-24 years       2.6
6185  Female   All races         25-44 years       2.5
6227  Female   All races         45-64 years       2.2
6269  Female   All races   65 years and over       2.5

/tmp/ipykernel_72/1562175589.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2adj[['GENDER', 'ETHNICITY', 'RACE', 'AGE_RANGE']] = split_columns
/tmp/ipykernel_72/1562175589.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2adj[['GENDER', 'ETHNICITY', 'RACE', 'AGE_RANGE']] = split_columns
/tmp/ipykernel_72/1562175589.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2adj[['GENDER', 'ETHNICITY', 'RACE', 'AGE_RANGE']] = split_columns
/tmp/ipykernel_72/1562175589.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2adj[['GENDER', 'ETHNICITY', 'RACE', 'AGE_RANGE']] = split_columns

Issue and justification: I wrote out each issue for this throughout the coding

### Quality Issues: Adult DataSet Cleanup

In [8]:
# Inspecting the dataframe visually

print(df1.head())

print(df1.columns)

# Inspecting the dataframe programmatically

print(df1.describe())

# For DF1, Quality Issue 1: Some missing values exist.

df1adj = df1

#Step 1 - Cleaning: Let's fill them in as unknown
df1adj.replace('?', pd.NA, inplace=True)
df1adj.fillna('Unknown', inplace=True)

# #For Df1, Quality Issue 2: There are some spaces between delimiters, potentially leading to issues.

#Step 2 Cleaning - There are some spaces between the delimiters, potentially leading to data analysis problems in adult dataset

df1adj = df1adj.applymap(lambda x: x.strip() if isinstance(x, str) else x)

df1adj = df1adj.applymap(lambda x: x.lower() if isinstance(x, str) else x)

# For Df1, Tidiness Issue 1: Discrete ages is more specific than the suicide dataset. This will lead to a data tidiness issue

#Let's also make sure that we can tidy this data to combine with the suicide dataset. In this step, we'll break the ages into bins.

age_bins = [15, 24, 44, 64, float('inf')]
age_labels = ['15-24', '25-44', '45-64', '65+']
df1adj['age_category'] = pd.cut(df1adj['age'], bins=age_bins, labels=age_labels, right=True)

# Display the first few rows of the dataframe
print(df1adj.head())
print(df1adj[['age', 'age_category']].head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country income
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K
Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')
                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

/tmp/ipykernel_72/3255746919.py:23: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df1adj = df1adj.applymap(lambda x: x.strip() if isinstance(x, str) else x)
/tmp/ipykernel_72/3255746919.py:25: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df1adj = df1adj.applymap(lambda x: x.lower() if isinstance(x, str) else x)

   age         workclass  fnlwgt  education  education-num  \
0   39         state-gov   77516  bachelors             13
1   50  self-emp-not-inc   83311  bachelors             13
2   38           private  215646    hs-grad              9
3   53           private  234721       11th              7
4   28           private  338409  bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       never-married       adm-clerical  not-in-family  white    male
1  married-civ-spouse    exec-managerial        husband  white    male
2            divorced  handlers-cleaners  not-in-family  white    male
3  married-civ-spouse  handlers-cleaners        husband  black    male
4  married-civ-spouse     prof-specialty           wife  black  female

   capital-gain  capital-loss  hours-per-week native-country income  \
0          2174             0              40  united-states  <=50k
1             0             0              13  united-states  <=50k
2             0             0              40  united-states  <=50k
3             0             0              40  united-states  <=50k
4             0             0              40           cuba  <=50k

  age_category
0        25-44
1        45-64
2        25-44
3        45-64
4        25-44
   age age_category
0   39        25-44
1   50        45-64
2   38        25-44
3   53        45-64
4   28        25-44

In [9]:
# For Df1, Tidiness Issue 2: This data is too hard to manage with all the extra columns. 

#Let's keep only a few more columns to really focus

columns_to_keep = [
    'age_category', 'occupation', 'race', 'sex'
]
df1adj = df1adj.loc[:, columns_to_keep]

# Confirming data is easy to read
print(df1adj.head())
print(df1adj.columns)

  age_category         occupation   race     sex
0        25-44       adm-clerical  white    male
1        45-64    exec-managerial  white    male
2        25-44  handlers-cleaners  white    male
3        45-64  handlers-cleaners  black    male
4        25-44     prof-specialty  black  female
Index(['age_category', 'occupation', 'race', 'sex'], dtype='object')

Issue and justification: Now the data looks a lot easier to work with/wrangle because it's more manageable

### Now we gotta make the data able to be merged

In [10]:
# We'll do a direct comparison of heads

print(df1adj.head())
print(df2adj.head())

# Notice similar concepts but have different column headings, values. We'll have to convert.

  age_category         occupation   race     sex
0        25-44       adm-clerical  white    male
1        45-64    exec-managerial  white    male
2        25-44  handlers-cleaners  white    male
3        45-64  handlers-cleaners  black    male
4        25-44     prof-specialty  black  female
     GENDER        RACE           AGE_RANGE  ESTIMATE
5304   Male       White         15-24 years      24.6
5345   Male       White         25-44 years      26.7
5387   Male       White         45-64 years      24.2
5429   Male       White   65 years and over      39.5
5639   Male   All races         15-24 years      16.8

In [11]:
print(df1adj.head())
print(df2adj.head())

#Tidiness Issue 3 - Columns are not a 1-1 match in terms of name
# Tidying, let's make sure the columns are a 1-1 match in terms of names. Decided to capitalize occupation so it would look nice.

df1adj = df1adj.rename(columns={
    'sex': 'GENDER',
    'age_category': 'AGE_RANGE',
    'race': 'RACE',
    'occupation': 'OCCUPATION'
})
print(df1adj.head())

# Tidiness Issue 4 - Values in GENDER, and RACE are mismatched across dataframes
# Tidying -Convert values in the 'GENDER' column to lowercase
df2adj['GENDER'] = df2adj['GENDER'].str.lower()

# Tidying Convert values in the 'RACE' column to lowercase
df2adj['RACE'] = df2adj['RACE'].str.lower()

#Tidiness Issue 5 - Slightly different naming conventions across dataframes
# Tidying data so that we're using the same naming conventions to be able to merge

df2adj['AGE_RANGE'] = df2adj['AGE_RANGE'].str.strip()

age_range_replacements = {
    '15-24 years': '15-24',
    '25-44 years': '25-44',
    '45-64 years': '45-64',
    '65 years and over': '65+'
}

# Now we're applying the replacements to the 'AGE_RANGE' column
df2adj['AGE_RANGE'] = df2adj['AGE_RANGE'].replace(age_range_replacements)

# Checking to see if it worked

print(df2adj.head())

# Data quality issue 3: I tried merging in a different cell at this point. Noticed the dataframe was empty, had to troubleshoot. Checking datatypes to see if they match up.

print(df1adj.dtypes)
print(df2adj.dtypes)

# Tidying data so that datatypes match

df1adj['AGE_RANGE'] = df1adj['AGE_RANGE'].astype(object)
print(df1adj.dtypes)

# I was still running into issues having entries in my dataframe. At this point, I wanted to make sure there were no extraneous spaces.

# Data quality issue 4: Some columns might have unnecessary spaces preventing matching.

#We're cleaning the data so it has no spaces

df1adj['GENDER'] = df1adj['GENDER'].str.strip()
df1adj['RACE'] = df1adj['RACE'].str.strip()
df1adj['AGE_RANGE'] = df1adj['AGE_RANGE'].str.strip()

df2adj['GENDER'] = df2adj['GENDER'].str.strip()
df2adj['RACE'] = df2adj['RACE'].str.strip()
df2adj['AGE_RANGE'] = df2adj['AGE_RANGE'].str.strip()

  age_category         occupation   race     sex
0        25-44       adm-clerical  white    male
1        45-64    exec-managerial  white    male
2        25-44  handlers-cleaners  white    male
3        45-64  handlers-cleaners  black    male
4        25-44     prof-specialty  black  female
     GENDER        RACE           AGE_RANGE  ESTIMATE
5304   Male       White         15-24 years      24.6
5345   Male       White         25-44 years      26.7
5387   Male       White         45-64 years      24.2
5429   Male       White   65 years and over      39.5
5639   Male   All races         15-24 years      16.8
  AGE_RANGE         OCCUPATION   RACE  GENDER
0     25-44       adm-clerical  white    male
1     45-64    exec-managerial  white    male
2     25-44  handlers-cleaners  white    male
3     45-64  handlers-cleaners  black    male
4     25-44     prof-specialty  black  female
     GENDER        RACE AGE_RANGE  ESTIMATE
5304   male       white     15-24      24.6
5345   male       white     25-44      26.7
5387   male       white     45-64      24.2
5429   male       white       65+      39.5
5639   male   all races     15-24      16.8
AGE_RANGE     category
OCCUPATION      object
RACE            object
GENDER          object
dtype: object
GENDER        object
RACE          object
AGE_RANGE     object
ESTIMATE     float64
dtype: object
AGE_RANGE     object
OCCUPATION    object
RACE          object
GENDER        object
dtype: object

Now we've got data that should work. (It should work because I've been trying to merge unsuccessfully for a while at this point

### Creating the merge

In [12]:
# Now we're merging the datasets to verify that we're having entries that work

merged_df = pd.merge(df1adj, df2adj[['GENDER', 'RACE', 'AGE_RANGE', 'ESTIMATE']], 
                     on=['GENDER', 'RACE', 'AGE_RANGE'], 
                     how='inner')
print(merged_df.head(20))

# It looks good!

   AGE_RANGE         OCCUPATION   RACE  GENDER  ESTIMATE
0      25-44       adm-clerical  white    male      26.7
1      45-64    exec-managerial  white    male      24.2
2      25-44  handlers-cleaners  white    male      26.7
3      25-44    exec-managerial  white  female       6.8
4      45-64    exec-managerial  white    male      24.2
5      25-44     prof-specialty  white  female       6.8
6      25-44    exec-managerial  white    male      26.7
7      15-24       adm-clerical  white  female       3.9
8      25-44    farming-fishing  white    male      26.7
9      25-44  machine-op-inspct  white    male      26.7
10     25-44              sales  white    male      26.7
11     25-44    exec-managerial  white  female       6.8
12     25-44     prof-specialty  white    male      26.7
13     25-44   transport-moving  white    male      26.7
14     45-64       tech-support  white  female       7.3
15     45-64       tech-support  white    male      24.2
16     15-24       craft-repair  white    male      24.6
17     25-44    exec-managerial  white    male      26.7
18     45-64       craft-repair  white    male      24.2
19     15-24    protective-serv  white    male      24.6

Doesn't that look great?

## 3. Clean data
Clean the data to solve the 4 issues corresponding to data quality and tidiness found in the assessing step. **Make sure you include justifications for your cleaning decisions.**

After the cleaning for each issue, please use **either** the visually or programatical method to validate the cleaning was succesful.

At this stage, you are also expected to remove variables that are unnecessary for your analysis and combine your datasets. Depending on your datasets, you may choose to perform variable combination and elimination before or after the cleaning stage. Your dataset must have **at least** 4 variables after combining the data.

In [13]:
print(merged_df.dtypes)

AGE_RANGE      object
OCCUPATION     object
RACE           object
GENDER         object
ESTIMATE      float64
dtype: object

### **Quality Issue 1: Completed Above**

In [14]:
# You may note that I've done this in detail above


#For ease of grading:

# For DF1, Quality Issue 1: Some missing values exist.
#For Df1, Quality Issue 2: There are some spaces between delimiters, potentially leading to issues.
# For Df1, Tidiness Issue 2: This data is too hard to manage with all the extra columns. 
#For Df1, Tidiness Issue 3 - Columns are not a 1-1 match in terms of name
#For Df1, Tidiness Issue 4 - Values in GENDER, and RACE are mismatched across dataframes
#Tidiness Issue 5 - Slightly different naming conventions across dataframes

# Data quality issue 3: I tried merging in a different cell at this point. Noticed the dataframe was empty, had to troubleshoot. Checking datatypes to see if they match up.

# Data quality issue 4: Some columns might have unnecessary spaces preventing matching.




# For DF2

# Data Quality Issue 1: Not enough data for some columns I'm trying to match on. Solution: Drop rows that don't have the data I'm looking for

# Data Quality Issue 2: Several of the entries lack the Estimate column, I want to only look at entries with values.

# Tidiness Issue 1: In it's current form the data I want to access is comma delimited when it should be its own separate columns to be easier to sort

# Tidiness Issue 2: Too many other columns are in the way, and entries which will not be available to merge (non-1994 data)

In [15]:
# Observe the prior cleaning I've been doing

Justification: I did a bunch of cleaning in the issues section, and noted what they were

### See above

In [17]:
#See above

In [ ]:
See above

Justification: I explain why I do what I do above

### **See above

In [ ]:
#See above

See above

### See above

In [ ]:
#See above

Justification: See above

### **Remove unnecessary variables and combine datasets**

Depending on the datasets, you can also peform the combination before the cleaning steps.

In [ ]:
# This has been done in an earlier step - brought down for ease of grading

#Stripping all unnecessary columns

# columns_to_keep = [
    #'age_category', 'occupation', 'race', 'sex']

# df1adj = df1.loc[:, columns_to_keep]

## 4. Update your data store
Update your local database/data store with the cleaned data, following best practices for storing your cleaned data:

- Must maintain different instances / versions of data (raw and cleaned data)
- Must name the dataset files informatively
- Ensure both the raw and cleaned data is saved to your database/data store

In [18]:
# df1 is essentially uncleaned whereas df1adj has been modified signficantly. The same can be said for df2 and df2adj

merged_df.to_csv('merged.csv', index=False)

## 5. Answer the research question

### **5.1:** Define and answer the research question 
Going back to the problem statement in step 1, use the cleaned data to answer the question you raised. Produce **at least** two visualizations using the cleaned data and explain how they help you answer the question.

*Research question:* Do Different Professions Have Different Estimated Suicide Rates per 100 K?

In [ ]:
!pip install numpy<2.0
!pip uninstall matplotlib seaborn
!pip install matplotlib seaborn

import matplotlib.pyplot as plt
import seaborn as sns

# Calculate average estimate by occupation
occupation_avg_estimate = merged_df.groupby('OCCUPATION')['ESTIMATE'].mean().reset_index()

# Create a bar plot
plt.figure(figsize=(12, 6))
sns.barplot(data=occupation_avg_estimate, x='OCCUPATION', y='ESTIMATE', palette='viridis')
plt.xticks(rotation=45, ha='right')
plt.title('Average Estimate by Occupation')
plt.xlabel('Occupation')
plt.ylabel('Average Estimate')
plt.tight_layout()
plt.show()

# Yes, it appears they do. Farming/Fishing appears to be the highest

/usr/bin/sh: 1: cannot open 2.0: No such file
Found existing installation: matplotlib 3.7.2
Uninstalling matplotlib-3.7.2:
  Would remove:
    /opt/conda/lib/python3.10/site-packages/matplotlib-3.7.2-py3.10-nspkg.pth
    /opt/conda/lib/python3.10/site-packages/matplotlib-3.7.2.dist-info/*
    /opt/conda/lib/python3.10/site-packages/matplotlib/*
    /opt/conda/lib/python3.10/site-packages/mpl_toolkits/axes_grid1/*
    /opt/conda/lib/python3.10/site-packages/mpl_toolkits/axisartist/*
    /opt/conda/lib/python3.10/site-packages/mpl_toolkits/mplot3d/*
    /opt/conda/lib/python3.10/site-packages/pylab.py
Proceed (Y/n)?

*Answer to research question:* Yes, some of the highest suicide rates include farming/fishing, transport mining, and some of the lowest include  priv-house serving and adm-clerical

In [ ]:
# A second visualization

plt.figure(figsize=(12, 6))
sns.boxplot(data=merged_df, x='OCCUPATION', y='ESTIMATE', palette='viridis')
plt.xticks(rotation=45, ha='right')
plt.title('Distribution of Estimates by Occupation')
plt.xlabel('Occupation')
plt.ylabel('Estimate')
plt.tight_layout()
plt.show()

*Answer to research question:* Estimated suicide rates are different by career because different demographics occupy different careers to some extent.

### **5.2:** Reflection
In 2-4 sentences, if you had more time to complete the project, what actions would you take? For example, which data quality and structural issues would you look into further, and what research questions would you further explore?

*Answer:* If I had more time to explore this data, I would try to more robustly control for race, as some of the data was low-quality. I'd also like to find more insights and controls in order to make this data more likely to be causal, one direction or another. I think if I could find actual values of suicides per 100 K by career and compare to the adult dataset, that would be an interesting research project to determine which careers do better or worse for stress, holding demographics equal.

In [ ]:
!